includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 6
	inferPrivatePropertyTypeFromConstructor: true
	treatPhpDocTypesAsCertain: false
	paths:
		- src/
	ignoreErrors:
		# Block templates
		- '#^Function apply_filters invoked with [a-zA-Z0-9\\_] parameters, 2 required\.#'
