/* Background color of a code snippet */
.md-typeset code.hljs {
    background-color: #282c34;
}

@media only screen and (min-width: 720px) {
    .md-typeset code.hljs {
        border-radius: 1vh;
    }
}

.md-typeset code.hljs  {
    color: #abb2bf;
}

.md-clipboard.md-icon {
    color: white;
}

.md-clipboard.md-icon:hover {
    color: #526cfe;
}
